#footer1{
        width: 101%;  
        color: white;
        background-color: #008000;
        height: 3px;
        margin: 0px;
        padding: 0px;
}

body{
    background-color: #F5F5F5;
    color:black;
}

header, nav, footer{
    text-align: center;
}

main{
    margin: 0 auto;
    width: 1000px;
}

nav a{
    padding: 15px;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 1.7em;
    text-decoration: none;
    color: grey;
}

nav a:hover{
    font-size: 2em;
    transition: .9s;
    color: green;
}
#logo:hover
{
    width: 150px;
}

#welcomeText{
    width: 400px;
    /*font-family: "Courier New", Courier, monospace*/
    
}

#welcomeText, #video{
    float: left;
}

#video{
    border-width: 0px;  
}
#video_about{
    border-width: 0px;
}
#me img{
    width: 100%;
    text-align: center;
    /*border-radius: 25px;*/
}

#Text{
    font-family: 'Amita', cursive;
    width: 250px;

}

#Text, #Img{
    float: left;
}
#Img img{
    width: 75%;
    /*border-radius: 10px;*/
}

#footer_content{
    width: 380px;
    margin: 0px auto;
}
footer{
    clear: left;
    text-align: center;
    margin: 0px auto;
    padding: 0px;
    width: 1440px;
    background-color: black !important;
    color: yellow;
    height: 105px;
}
/*.aboutText{*/
/*    text-indent: 75px;*/
/*}*/
.aboutText, h1{
    font-family: "Times New Roman", Times, serif;
}
#values_text{
    padding: 20px;
    font-family: "Times New Roman", Times, serif;
}
#social_text{
    width: 600px;
    padding: 20px;
    text-indent: 50px;
    font-family: "Times New Roman", Times, serif;
}
.values{
    display: inline-block;
    vertical-align: middle;
}
#details{
    line-height: 90%;
    font-family: "Times New Roman", Times, serif;
    font-style: oblique;
}
.mission{
    display: inline-block;
    vertical-align: top;
}
h1{
    text-decoration: underline;
}
.service{
    display: inline-block;
}
#body_service{
    text-align: center;
    background-color: #F5F5F5;
}
#nav{
    background-color: white;
}
.contactText,.maps{
    display: inline-block;
    vertical-align: top;
}

.contactText{
    width: 430px;
    padding: 5px;
    line-height: 200%;
    /*text-indent: 50px;*/
}

.branchoffice{
    display: inline-block;
    width: 300px;
    padding: 5px;
    line-height: 170%;
}

h4{
    text-transform: capitalize;
}