body {
	padding-top: 100px;
	background-image: url("images/back1.jpeg");
	background-repeat: repeat;
}

#gameWindow{
	position: relative;
	margin: 0 auto;
	width: 600px;
	border: 2px solid black;
	height: 400px;
	background-color: #DDDDDD;
}

#playerPanel{
	position: absolute;
	left: 40px;
	top: 20px;
}

#computerPanel{
	position: absolute;
	left: 360px;
	top: 20px;
}

#imgComputer, #imgPlayer{
	width: 200px;
}

h2{
	text-align: center;
	color: white;
}

.iconButton{
	display: inline-block;
	margin: 3px;
	padding: 4px;
	border-radius: 5px;
	width: 48px;
	text-align: center;
	cursor: hand;
	cursor: pointer;
	font-size: 10pt;
	background-color: silver;
}

.iconButton img{
	width: 22px;
}

.iconButton:hover{
	color: white;
}

.iconLabel{
	display: inline-block;
	margin: 3px;
	padding: 4px;
	border-radius: 5px;
	width: 48px;
	text-align: center;
	font-size: 10pt;
	border: 1px solid black;
	background-color: #EEEEEE;
}

.iconLabel img{
	width: 22px;
}

#btnGo{
	position: absolute;
	left: 260px;
	top: 270px;
	padding: 10px;
	border-radius: 20px;
	width: 50px;
	text-align: center;
	cursor: hand;
	cursor: pointer;
	font-size: 14pt;
	background-color: #0CA619;
	color: white;
	/*visibility: hidden;*/
	display: none;
}

#btnGo:hover{
	background-color: #0CC819;
}

#introScreen{
	position: absolute;
	z-index: 101;
	width: 600px;
	height: 400px;
	background-image: url("images/logos.jpg");
	background-position: center;
	margin: 80 auto;
	text-align: center;
	color: #b5e7a0;
}

/*#intoScreenContent{*/
/*	width: 400px;*/
/*	height: 200px;*/
/*	padding: 20px;*/
/*	background-image: url("images/logos.jpg");*/
	/*background-color: white;*/
/*	margin: 80 auto;*/
/*	text-align: center;*/
/*}*/

.button{
	padding: 10px;
	border-radius: 10px;
	width: 100px;
	text-align: center;
	cursor: hand;
	cursor: pointer;
	font-size: 14pt;
	background-color: #888888;
	color: white;
	margin: 0 auto;
}

.button:hover{
	background-color: #555555;
}

#endScreen{
	position: absolute;
	z-index: 101;
	width: 600px;
	height: 400px;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
}

#endScreenContent{
	margin: 80 auto;
	text-align: center;
}

#endScreen h1{
	color: #e4d1d1;
	font-size: 30px;
}

#endScreen h2{
	color: #e4d1d1;
	font-size: 24px;
}